.movieDiv {
    background-color: #00143ccc;
    padding: 4.17vw;
    box-sizing: border-box;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.52vw;
}

.movieDiv img {
    border-radius: 1.04vw;
    height: 23.44vw;
}

.mainInfo {
    width: 41.84vw;
    padding: 0 1.56vw;
    box-sizing: border-box;
}

.secondaryInfo {
    width: 15.62vw;
    height: 23.65vw;
}

.zIndex1 {
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    background:  radial-gradient(
            ellipse closest-side,
            rgba(0, 20, 60, 0.2), rgba(0, 20, 60, 1));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.trailer {
    position: absolute;
    top: 4.15vw;
    left: 28.7vw;
    z-index: 2;
}

.bold {
    font-weight: bold;
}
