.Movie {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.posterDiv {
    width: 17vw;
    height: 25.6vw;
    border-radius: 1.04vw;
    margin-bottom: 0.52vw;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.posterDiv::before {
    position: absolute;
    bottom: -45%;
    left: 0;
    z-index: 1;
    transition: 0.3s;
}
.posterDiv img {
    width: 17vw;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.details {
    text-decoration: none;
    width: 17vw;
    height: 25.6vw;
    box-sizing: border-box;
    position: absolute;
    top: -100%;
    left: 0;
    padding: 1.04vw;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.3s;
    color: #fff;
    z-index: 2;
    border-radius: 1.04vw;
    overflow: hidden;
}
.details p {
    font-size: 1vw;
}
.details h5 {
    font-size: 1.4vw;
}
.Movie:hover .posterDiv::before {
    top: 0;
}
.Movie:hover .details {
    top: 0;
}